<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/style.css'/>
</head>

<body>
    <h1>Explore Phong's Favorite Movies</h1>
    <div class='container'>
        <div>
            <p><b>{{titles[0]}}</b></p>
            <p>{{overviews[0]}}</p>
            <p>{{genres}}</p>
            <a href="https://en.wikipedia.org/?curid={{websites[0]}}">wiki for the movie</a>
            <p><img class='tv' src=https://image.tmdb.org/t/p/w500{{favImages[0]}}></p>
        </div>
    </div>

</body>

</html>