<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/style.css'/>
</head>

<body>
    <a href="{{ url_for('logout') }}">Press here to logout!</a>
    <h1>Welcome {{current_user.username}}!</h1>
    <h2>Explore Phong's Favorite Movies</h2>
    <div class='container'>
        <div>
            <p><b>{{titles[0]}}</b></p>
            <p>{{overviews[0]}}</p>
            <p>{{genres}}</p>
            <a href="https://en.wikipedia.org/?curid={{websites[0]}}">wiki for the movie</a>
            <p><img class='tv' src=https://image.tmdb.org/t/p/w500{{favImages[0]}}></p>
        </div>
    </div>
    <form method="POST" action="/request">
        Movie ID:<input type="text" name="movieID">
        Rating(out of 5):<input type="integer" name="rating">
        Review:<input type="text" name="review">
        <input type="submit" value="Post Your Review!">
    </form>
</body>

</html>